* , *:after , *:before {
    box-sizing: border-box;
}

body{
    color: #FFF;
}

img {
	max-width:100%;
	height: auto;
	vertical-align:middle;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h2{
    font-size: 48px;
}

.font-noto-TC {
    font-family: 'Noto Sans TC' !important;
}

.font-shrikhand {
    font-family: 'Shrikhand'!important;
}

.form-control::placeholder {
    color: #1F0F39;
}

.spacing-80{
    letter-spacing: 80px;
    margin-right: -80px;
}

.spacing-48{
    letter-spacing: 48px;
    margin-right: -48px;
}

.spacing-32{
    letter-spacing: 32px;
    margin-right: -32px;
}

.spacing-20{
    letter-spacing: 20px;
    margin-right: -20px;
}

.spacing-16{
    letter-spacing: 16px;
    margin-right: -16px;
}