* , *:after , *:before {
    box-sizing: border-box;
}

body{
    color: #FFF;
    background: #000;
}

img {
	max-width:100%;
	height: auto;
	vertical-align:middle;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h2{
    font-size: 48px;
}

.form-control::placeholder {
    color: #1F0F39;
}

.spacing-slogan{
    letter-spacing: 22px;
    @media (min-width: 1200px) {
        letter-spacing: 60px;
        margin-right: -60px;
    }
}

.spacing-title{
    letter-spacing: 40px;
    margin-right: -40px;
    @media (min-width: 768px) {
        letter-spacing: 48px;
        margin-right: -48px;
    }
}

.spacing-32{
    letter-spacing: 24px;
    margin-right: -24px;
    @media (min-width: 768px) {
        letter-spacing: 32px;
        margin-right: -32px;
    }
}

.spacing-20{
    letter-spacing: 20px;
    margin-right: -20px;
}

.spacing-16{
    letter-spacing: 16px;
    margin-right: -16px;
}

.spacing-h2{
    font-size: 24px;
    letter-spacing: 20px;
    @media (min-width: 768px) {
        font-size: 36px;
        letter-spacing: 36px;
    }
    @media (min-width: 992px) {
        font-size: 48px;
        letter-spacing: 48px;
    }
}

.circle{
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.circle-large{
    width: 16px;
    height: 16px;
    border-radius: 50%;
}