@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@300&display=swap');


.font-noto-TC {
  font-family: 'Noto Sans TC' !important;
}

.font-shrikhand {
  font-family: 'Shrikhand'!important;
}

.font-saira{
  font-family: 'Saira Extra Condensed', sans-serif !important;
}

.saira-large {
  @media (min-width: 768px) {
    font-size: 200px !important;
  }
  @media (min-width: 992px) {
    font-size: 400px !important;
  }
}