<header class="bg-primary position-relative">
        <nav class="navbar navbar-dark navbar-expand-lg align-items-center py-16">
            <div class="container">
                <!-- logo -->
                <div><a href="index.html" class="font-shrikhand text-white fs-32"><h1 class="m-0 me-lg-20">ALPHABOX+</h1></a></div>
                <!-- 漢堡選單 -->
                <button class="navbar-toggler border-0 " type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="color:#ffffff">
                <span class="navbar-toggler-icon"></span>
                </button>
                <!-- collapse -->
                <div class="collapse navbar-collapse justify-content-lg-between text-center align-items-center ms-0 ms-xl-160" id="navbarSupportedContent">
                <ul class="navbar-nav text-center mt-24 mt-lg-0">
                    <li class="nav-item my-8 my-0 me-lg-40"><a href="#" class="">產品</a></li>
                    <li class="nav-item my-8 my-0 me-lg-40"><a href="#" class="">關於我們</a></li>
                    <li class="nav-item my-8 my-0 me-lg-40"><a href="#" class="">最新消息</a></li>
                    <li class="nav-item my-8 my-0 me-lg-40"><a href="faq.html" class="">FAQ</a></li>
                    <li class="nav-item my-8 my-0 me-lg-40"><a href="contact.html" class="">聯絡我們</a></li>
                </ul>
                <ul class="navbar-nav align-items-center text-center mb-32 mb-lg-0">
                    <li class="nav-item my-8 my-0 me-lg-24"><a href="#" class="">註冊</a></li>
                    <li class="nav-item my-8 my-0 me-lg-32"><a href="#" class="">登入</a></li>
                    <li class="nav-item mt-4 mt-0"><a href="#" class="btn btn-white text-center d-flex align-items-center"><span class="material-symbols-outlined align-middle me-4">point_scan</span>訂閱</a></li>
                </ul>
                </div>
            </div>
        </nav>
</header>