.index-banner {
  background: url("/assets/images/home_background.png") no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.alphabox-circle {
  width: 196px;
  animation-name: rotate;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.copyright {
  color: #ad93cf;
  font-weight: 500;
}

.banner-slogan {
  p {
    letter-spacing: 4.8px;
    @media (min-width: 768px) {
      letter-spacing: 16px;
    }
  }
}

.robot {
  margin-bottom: -104px;
  img {
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 16px 8px #8f00ffcc;
    }
  }
  &-name {
    font-size: 32px;
    line-height: 48px;
  }
}

.intro {
  z-index: -1;
  background: radial-gradient(#300871, #000000 70%);
  &-bg {
    background: url("/assets/images/carousel_background.png") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: top;
    z-index: -1;

    @media (min-width: 992px) {
      width: 50%;
    }
  }
  &-top {
    background: linear-gradient(to right, $primary 0%, $secondary 100%);
    height: 40px;
  }
  &-bottom {
    background: linear-gradient(to left, $primary 0%, $secondary 100%);
    height: 40px;
  }
  .spacing {
    @media (min-width: 768px) {
      letter-spacing: 48px;
    }
  }
  .alphabox-tech {
    background: url("/assets/images/alphabox-tech.png") no-repeat;
    height: 351px;
    @media (min-width: 576px) {
      height: 560px;
    }
    width: 100%;
    background-size: cover;
    background-position: center;
  }
}

.news {
  background: radial-gradient(#28085c, #000000 70%);
  &-arrow {
    height: 24px;
  }
}

.comment {
  background: radial-gradient(#000000, #28085c 70%);
  &-background {
    color: #ffffff0a;
    font-size: 128px;
    line-height: 1;
    bottom: -50px;
    @media (min-width: 768px) {
      font-size: 400px;
      bottom: -150px;
    }
  }
  .slide-card {
    height: 351px;
    @media (min-width: 768px) {
      height: 416px;
    }
  }
}

.contact {
  background: #1f0f39;
  &-circle {
    width: 12px;
    height: 12px;
  }
  &-pill {
    width: 124px;
    height: 12px;
  }
  &-icon {
    font-size: 80px;
  }
  textarea {
    height: 120px !important;
    resize: none;
  }
  label {
    height: 35px;
  }
}

.robot-card-arrow {
  width: 155px;
  height: 24px;
}

%robot-vertical {
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
    opacity: 0.5;
  }
  @media (min-width: 576px) {
    &::before {
      opacity: 0;
    }
    &:hover:before {
      opacity: 0.5;
    }
  }
}

.robot-vertical-1 {
  @extend %robot-vertical;
  &::before {
    background: url("/assets/images/diane_vertical.png") no-repeat center /
      cover;
  }
}

.robot-vertical-2 {
  @extend %robot-vertical;
  &::before {
    background: url("/assets/images/felix_vertical.png") no-repeat center /
      cover;
  }
}

.robot-vertical-3 {
  @extend %robot-vertical;
  &::before {
    background: url("/assets/images/karina_verticalgle.png") no-repeat center /
      cover;
  }
}

.robot-vertical-4 {
  @extend %robot-vertical;
  &::before {
    background: url("/assets/images/vito_vertical.png") no-repeat center / cover;
  }
}
