.index-banner {
  background: url("/assets/images/home_background.png") no-repeat;
  height: 880px;
  background-size: cover;

  img {
    @media (min-width: 768px) {
      width: 196px;
    }
  }
}

.alphabox-circle {
  width: 196px;
  animation-name: rotate;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.copyright {
  color: #ad93cf;
  font-weight: 500;
}

.banner-slogan {
  h2 {
    @media (min-width: 768px) {
      font-size: 32px;
      line-height: 48px;
    }
  }
  p {
    @media (min-width: 768px) {
      letter-spacing: 16px;
    }
  }
}

.robot {
  img:hover{
    box-shadow: 0 0 16px 8px #8F00FFCC ;
  }
  &-name {
    font-size: 32px;
    line-height: 48px;
  }
}

.intro {
  z-index: -1;
  background: radial-gradient(#300871, #000000 70%);
  height: 1080px;
  &-half {
    background: url("/assets/images/carousel_background.png") no-repeat;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
  &-top {
    background: linear-gradient(to right, $primary 0%, $secondary 100%);
    height: 40px;
  }
  &-bottom {
    background: linear-gradient(to left, $primary 0%, $secondary 100%);
    height: 40px;
  }
  .spacing {
    @media (min-width: 768px) {
      letter-spacing: 48px;
    }
  }
  .alphabox-tech{
    background: url('/assets/images/alphabox-tech.png') no-repeat;
    height: 560px;
    width: 1296px;
    background-size: cover;
    background-position: center;
  }
}

.news{
  background: radial-gradient(#28085C, #000000 70%);
  height: 1080px;
  &-arrow{
    height: 24px;
  }
}

.contact{
  background: #1F0F39;
  height: 622px;
  &-circle{
    width: 12px;
    height: 12px;
  }
  &-pill{
    width: 124px;
    height: 12px;
  }
  &-icon{
    font-size: 80px;
  }
}