<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ALPHABOX+ | FAQ </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  </head>
  <body>
   
    <%- include('./layout/header'); -%>

    <div style="background: #e9e2f3; color:#1F0F39; ">
  <div class="container mr-12 ml-12">
    <h2 class="faq-title mb-0 pt-60 pb-40 py-md-40 fs-40 fs-md-48 fw-bolder fw-md-bold border-bottom border-2 border-white">
      FAQ
    </h2>
    <div class="content row d-md-flex flex-md-row">
      <ul class="nav-list col-md-4">
        <li class="nav textline mb-16 pt-24 pt-md-40 border-md-0">ALPHABOX+ 使用問題</li>
        <li class="nav mb-16">訂購與運送</li>
        <li class="nav pb-24 border-bottom border-2 border-white border-md-0">產品保養與維修</li>
      </ul>
      <ul class="qa-list col-md-8 pb-80 pb-md-160">
        <li class="question-card py-24 py-md-32 row d-flex  border-bottom border-2 border-white">
          <h6 class="question row mb-0 row fs-6 align-items-center">
            <span class="col-9">
              ALPHABOX+ 的使用方式是什麼？
            </span>
            <span class="col-3 text-end text-md-start">
              <img src="../assets/images/remove.png" class="remove addIcon fs-40" alt="remove" />
            </span>
          </h6>
          <div class="col-md-9">
            <p class="answer mt-8 mb-0">
              首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
            </p>
          </div>
        </li>
        <li class="question-card py-24 py-md-32 row d-flex border-bottom border-2 border-white">
          <h6 class="accordion-header row fs-6 align-items-center">
            <span class="col-9">
              ALPHABOX+ 需要什麼樣的環境來使用？
            </span>
            <span class="col-3 text-end text-md-start">
              <img src="../assets/images/add.png" class="add addIcon fs-40" alt="add" />
            </span>
          </h6>
        </li>
        <li class="question-card py-24 py-md-32 row d-flex border-bottom border-2 border-white">
          <h6 class="accordion-header row fs-6 align-items-center">
            <span class="col-9">
              ALPHABOX+ 支援哪些語言？
            </span>
            <span class="col-3 text-end text-md-start">
              <img src="../assets/images/add.png" class="add addIcon fs-40" alt="add" />
            </span>
          </h6>
        </li>
        <li class="question-card py-24 py-md-32 row d-flex border-bottom border-2 border-white">
          <h6 class="accordion-header row fs-6 align-items-center">
            <span class="col-9">
              ALPHABOX+ 的軟體更新方式為何？
            </span>
            <span class="col-3 text-end text-md-start">
              <img src="../assets/images/add.png" class="add addIcon fs-40" alt="add" />
            </span>
          </h6>
        </li>
        <li class="question-card py-24 py-md-32 row d-flex border-bottom border-2 border-white">
          <h6 class="accordion-header row fs-6 align-items-center">
            <span class="col-9">
              購買 ALPHABOX+ 後的售後服務如何？
            </span>
            <span class="col-3 text-end text-md-start">
              <img src="../assets/images/add.png" class="add addIcon fs-40" alt="add" />
            </span>
          </h6>
        </li>
        <li class="question-card py-24 py-md-32 row d-flex border-bottom border-2 border-white">
          <h6 class="accordion-header row fs-6 align-items-center">
            <span class="col-9">
              ALPHABOX+ 與其他智能家居設備的相容性如何？
            </span>
            <span class="col-3 text-end text-md-start">
              <img src="../assets/images/add.png" class="add addIcon fs-40" alt="add" />
            </span>
          </h6>
        </li>
      </ul>
    </div>
  </div>
</div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
